<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	
	<!-- Log the incoming requests. Very useful for debugging -->
	<logger name="ca.lc.stimesheet.web.interceptor.RequestLoggingInterceptor" level="DEBUG" />
	
	<!-- By Default -->
	<logger name="ca.lc.stimesheet" level="DEBUG" />
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>