<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerFragment(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/resources/css/stimesheet.css}" rel="stylesheet" />
		<script th:src="@{/resources/js/jquery/jquery-1.11.1.min.js}"></script>
		<script th:src="@{/resources/js/stimesheet.js}"></script>
		
		<title th:text="${title}">Page Title</title>
	</head>
	<body>
	
		<div class="container" style="padding-top: 50px;">
			<div th:fragment="menuFragment">
				<ul>
					<!-- Menu : enter timesheet, view timesheets, billing, user account mngt -->
					
					<li th:unless="${authenticated}"><a th:href="@{/login}">Login</a></li>
					
				</ul>
			</div>
		</div>
			
	</body>
</html>