<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="thymeleaf/layout :: headerFragment('Welcome!')" />
	
	<body>
		<div th:include="thymeleaf/layout :: menuFragment"></div>
		
		<h1>Simple Timesheet</h1>

		<div th:if="${authenticated}">
			<p>Welcome <span th:text="${user.firstName} + ' ' + ${user.lastName}">John Dow</span>.</p>
			<p>You currently have a <span th:text="${user.account.editionCode}">Basic</span> subscription.</p>
		</div>
		<div th:unless="${authenticated}">
			You are not authenticated.
		</div>

	</body>

</html>